@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import "skippr";
/*skipprスライドショーのcss*/
.image1 {
  background-image: url("../images/image1.jpg");
}
.image2 {
  background-image: url("../images/image2.jpg");
}
.image3 {
  background-image: url("../images/image3.jpg");
}
.image4 {
  background-image: url("../images/image4.jpg");
}
.image5 {
  background-image: url("../images/image5.jpg");
}

#container{
  height: 300px;
}

/*aboutページのレイアウト*/
.about-content{
  text-align: center;
  margin-top: 2%;
}

.about-content p{
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

/*見出し*/
.page-title{
  font-size: 5rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}

#about{
  background-image: url(../images/image4.jpg);
  background-color:#f69679;
  background-blend-mode: hard-light;
  min-height: 100vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}