 <footer class="bg-secondary text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>bike仲間を作るSNSサイト</p>
          </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>